/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
    padding: 0.5rem;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {

  border-radius: 5px;
  font-family: Verdana;
  color: #fff;
  font-size: 20px;
  background: #145374;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background: #3b5898;
  text-decoration: none;
}

.in-text-link{
  color:#000080;
  text-decoration: none;
  transition: color 0.1s ease-out;
}

.in-text-link:hover, .in-text-link:focus {
  color:#FFFF00;
  text-decoration:underline;
}


/* Styling for submit and reset button */
.submit-button, .reset-button{
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background-color:#145374;
  border:1px solid #314179;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
}
.submit-button:hover, .reset-button:hover {
  background-color:#5972a7;
}

.submit-button:active, .reset-button:active{
  position:relative;
  top:1px;
}

.text-input{
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease-out;
  }

.text-input:active, .input-info:focus{
  position:relative;
  background-color:#145374;
  border: 1px solid #2403b3;
}


/* 
  TEXT ELEMENTS -------------------
*/

.heading-1{
  font-size:3rem;
  font-family: 'Verdana', sans-serif;
}

/* Styling for heading two */
.heading-2{
  font-size:2rem;
  font-family: 'Tahoma',sans-serif;
}

/* Styling for heading three */
.heading-3{
  font-size:1rem;
  font-family: 'Roboto', sans-serif;
}

/* Styling for heading paragraphs */
.paragraph{
  font-family: 'Mandali','Arial', sans-serif;
}


.bullet-link a{
  font-family: 'Mandali', sans-serif;
  color:#000080;
  text-decoration:none;
}

.bullet-link a:hover, .bullet-link a:focus{
  display:inline-block;
  padding:0.2em;
  font-family: 'Mandali', sans-serif;
  text-decoration-line: underline;
  font-weight:bold;

}

/* 
  COMBINED ELEMENTS -------------------
*/


.productlist-container{
  display:flex;
}

.productlist-item{
  border:1px solid #5588A3;
  margin:1em;

}


.productlist-item p{
  background-color:#5588A3;
  margin:0;
  padding:1em 0.5em;
}

/* Style the top navigation bar */

nav#menu {
  display: flex;
  background-color: #145374;
}


#grid-structure *{
        box-sizing: border-box;
    }
#grid-structure header {
  padding: 5px;
  text-align: center;
  background: #aaa;
  color: black;
}

#grid-structure nav {
  display: flex;
  text-align: center;
  background-color: #333;
}

#grid-structure nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


#grid-structure main {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

#grid-structure .main {
  flex: 70%;
  background-color: #cccccc;
  padding: 20px;
}

#grid-structure .img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#grid-structure footer {
  padding: 5px;
  text-align: center;
  background: #ddd;
}

#grid-structure .product-img{
  display:flex;
}
#grid-structure .product-img>div{
  width:100%;
  background-color:#aaa;
  text-align:center;
  margin:1em;
  height:10em;
}

#grid-structure2 *{
        box-sizing: border-box;
    }
#grid-structure2 header {
  padding: 5px;
  text-align: center;
  background: #00334E;
  color:black;
}

#grid-structure2 nav {
  display: flex;
  text-align: center;
  background-color: #145374;
}

#grid-structure2 nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


#grid-structure2 main {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

#grid-structure2 .main2 {
  flex: 70%;
  background-color: #E8E8E8;
  padding: 20px;
}

#grid-structure2 .img2 {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#grid-structure2 footer {
  padding: 5px;
  text-align: center;
  background: #145374;
}

#grid-structure2 .product-img2{
  display:flex;
}
#grid-structure2 .product-img2>div{
  width:100%;
  background-color:#5588A3;
  text-align:center;
  margin:1em;
  height:10em;
}