body{
	background-color: white;
	margin: auto;
	border-radius: 2em;

}

p{
    font-family: 'Muli', sans-serif;
}

h1{	
	font-weight: normal;
	font-size:3em;
	color:black;
    background-color: #F7F7F5;
    padding-top: 1em;

    padding-bottom: 0.8em;
    margin-top: 0;
  	font-family: 'Quicksand', sans-serif;
    text-align: center;

   
}

.h1_title{
font-size:0.5em;
	color:black;
	    background-color:#F7F7F5;
	    font-family: 'Quicksand', sans-serif;

	        text-align: center;
	        margin-top: -5em;
	        height:12em;
}

#nav_top {
display: inline;
font-family: 'Tajawal', sans-serif;
background-color:#F7F7F5;

 list-style-type: none;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
	padding-left:5em;


}

#nav_top li{
display: inline;

}


ul{
	font-family: 'Tajawal', sans-serif;
	text-align: center;
	margin-top: -5em;
    background-color:#F7F7F5;
}

ul#nav li{
display: inline;

}


ul#nav{	

    list-style-type: none;
    padding-left:18%;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
}

li.nav1{
  border-right: 0.5px solid black;
  float: left;
  font-size: 0.9em;
  width:8em;
  padding-top: 0.1em;
  padding-left: 2em;
  padding-right: 2em;

}

li.nav1 a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width:8em;

}

li.nav1 a:hover {
	 border-bottom: 1px solid #BEA2A1;
     color: #BEA2A1;
}

h2 {
	color:grey;
    font-size:70px;
    text-align: center;
	font-weight: bold;
	padding-left: 0.7em;
	margin-bottom: -0.7em;

}

.homepageImg{
    display:flex;
 	margin-left: 8em;
 	margin-top: 0em;
 	margin-bottom: 3em;
	width:100%;
	height:100%;
	float: center;

}

.titleImg{
 	margin-left: 25%;
 	margin-top: 3em;
 	margin-bottom: 3em;
	width:50%;
	height:100%;
	float: left;

}

.footer{
	height: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
	color:black;
	clear: both;
	width:100%;
	bottom:0;
    text-align: center;
    background-color: #F7F7F5;
  	position: relative;
   	margin-top: 200px;
}

#decorate_title{	
    color:black;
    font-size:25px;
font-family: 'Open Sans', sans-serif;
    margin-top: 5em;
        margin-bottom: 1em;
	font-weight: normal;

}

#titlepageParagraph{

	 color:black;
	width:50%;
margin-left: 25%;
margin-bottom: 3em;
font-family: 'Muli', sans-serif;
font-size: 14px;
line-height:250%;
letter-spacing: 1.5px;
text-align: center;

}

 .btn-buy {
    margin-right:1rem;
    color:white;
    background-color: black;
    border:1px solid black;
    letter-spacing:1px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 12px;
    
  }

   .btn-details {
    margin-right:1rem;
    color:black;
    border:1px solid black;
    letter-spacing:1px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 12px;
  }


/*event page*/
.homepageImg{
 margin-left: 8em;
	width:360px;
	height:270px;
	float: left;
}

.homepageParagraph{

	 color:black;
height:200px;
	width:420px;
margin-left: 35em;
padding-top: 4.5em;
margin-bottom: 3em;

}

h2 #event_list {
	color:grey;
    font-size:27px;
    margin-left: 3em;
	font-style:italic;
	font-weight: normal;
	padding-left: 0.7em;
	 border-left: 4.5px solid grey;
}


#contacts {
    width: 1600px;
    height: 700px;
    margin: 0 auto;
     font-family: 'Montserrat', sans-serif;
}

#contacts>div {
    width: 960px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
 
#contacts>div>div {
    width: 470px;
    height: 560px;
    margin-top: 70px;
}
 
#contacts>div>div:first-child {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
}
 
#contacts input {
    width: 370px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}
 
#fell {
    text-align: center;
    vertical-align: middle;
    width: 370px;
    height: 110px;
    line-height: 110px;
    margin: 0 auto;
    font-weight: 400;
}
 
#email {
    height: 50px;
    margin-left: 50px;
}
 
#subject {
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
}
 
#message {
    margin-top: 30px;
    margin-left: 50px;
    height: 140px;
}
 
#send {
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #000000;
    color: #ffffff;
}
 
#con {
    text-align: left;
    width: 360px;
    height: 370px;
    margin-top: 80px;
    margin-left: 90px;
}
 
#con p:first-child {
    font-size: 48px;
}
 

 #products {
    width: 960px;
    height: 680px;
    margin: 0 auto;
    
}
 
#products>div:first-child {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 90px auto 80px auto;
}
 
#prointroduction {
    display: flex;
    justify-content: space-between;

}
 
#prointroduction div {
    width: 260px;
    height: 280px;
}
 
#prointroduction img {
    display: table-cell;
    text-align: center;
font-family: 'Open Sans', sans-serif;
        width: 260px;
    height: 280px;
}

@media screen and (max-width:30em){
    .nav{
        flex-direction: column;
    }
    .container .block{
        width:100%;

    }
}

/*login page*/
p.login{

 padding-left: 3em;
}