body {
    background-color: white;
    margin: auto;
    border-radius: 2em;
}

p {
    font-family: 'Muli', sans-serif;
}

/*h1 {
    font-weight: normal;
    font-size: 3em;
    color: black;
    background-color: #F7F7F5;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    margin-top: -1.2em;
    font-family: 'Gotham bold', sans-serif;
    text-align: center;
    width: 100%;
}*/

.h1_title {
    font-size: 0.5em;
    color: black;
    background-color: #F7F7F5;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: -5em;
    height: 12em;
}

#nav_top {
    background-color: #F7F7F5;
    text-align: right;
    list-style-type: none;
}

#nav_top li {
    display: inline-block;
    font-family: 'Tajawal', sans-serif;
    margin-right: 2em;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
}

ul#nav li {
    display: inline;
}


ul#nav {
    list-style-type: none;
    transition: background-color 0.5s ease-out;
    padding:0;
    margin:1em 0;
    text-align:center;
    overflow:auto;
}

li.nav1 {
    /*border-right: 0.5px solid black;*/
    display:inline-block;
    font-size: 0.9em;
    width: 3em;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}

li.nav1 a {
    color: black;
    text-align: center;
    text-decoration: none;
}

li.nav1 a:hover {
    border-bottom: 1px solid #BEA2A1;
    color: #BEA2A1;
}

.logo {
    width:15%;
      display: block;

  margin-left: auto;
  margin-right: auto;
      background-color: #F7F7F5;
}

#hpImages {
    display: flex;
    justify-content:space-evenly;
    margin-bottom:5em;
    /*width: 100%;
    height: 100%;*/
  
}
#eventList {
    display: flex;
    justify-content:space-evenly;
  
}



#hpImages div{
    width:30%;
    text-align:center;
}



.hpImgs {
    /*display: flex;*/
    /*margin-left: 0em;
    margin-top: 40px;
    margin-bottom: 1em;*/
    width: 100%;
    /*height: 100%;*/
   
}


h2 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-left: 0.7em;
    margin-top:3em;
    /*margin-bottom: -0.7em;*/
}

.homepageImg {
    display: flex;
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
    width: 100%;
    height: 50%;
}



.aboutImg {
    display: flex;
    margin:auto;
    margin-bottom: 2em;
    width: 50%;
    height: 50%;
}

.eventImg {
    margin:auto;
    margin-bottom: 2em;
    width: 100%;
}
.eventImg2 {
    margin:auto;
    margin-bottom: 2em;
    width: 40%;
}


.footer {
    height: 12px;
    padding-top: 2em;
    padding-bottom: 3em;
    color: black;
    clear: both;
    width: 100%;
    text-align: center;
    font-size:11px;
    background-color: #F7F7F5;
    /*margin-top: 50%;*/
}



#decorate_title {
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: normal;
}

#titlepageParagraph {

    color: black;
    width: 50%;
    margin-left: 25%;

    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 1.5px;
    text-align: left;
}

#homepagePara {

    color: black;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 8em;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 1.5px;
    text-align: left;
}

#eventTitle {

    color: black;
    width: 50%;
    margin-left: 25%;
    font-family: 'Muli bold', sans-serif;
    font-size: 20px;
    line-height: 250%;
    letter-spacing: 1.5px;
    text-align: left;
}



/*event page*/


.homepageParagraph {
    color: black;
    height: 200px;
    width: 420px;
    margin-left: 35em;
    padding-top: 4.5em;
    margin-bottom: 3em;

}



h2 #event_list {
    color: grey;
    font-size: 27px;
    margin-left: 3em;
    font-style: italic;
    font-weight: normal;
    padding-left: 0.7em;
    border-left: 4.5px solid grey;
}


/*contact page*/
#contacts {

    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#contacts>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#contacts>div>div {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

/*#contacts>div>div:first-child {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
}*/

#contacts input {
    width: 80%;
    /*border-radius: 5px;*/
    border: 1px solid rgb(200, 200, 200);
}

#Feedback {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    line-height: 110px;
    margin: 0 auto;
    font-weight: 400;
}

#email {
    height: 100%;
    margin-left: 50px;
}

#subject {
    height: 100%;
    margin-top: 30px;
    margin-left: 50px;
}

#message {
    margin-top: 30px;
    margin-left: 50px;
    height: 100%;
}

#send {
    height: 100%;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #000000;
    color: #ffffff;
}

#con {
    font-family: 'Open Sans',sans-serif;
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-left: 90px;
}

#con p:first-child {
        font-family: 'Open Sans',sans-serif;
    font-size: 24px;
}


/*shop page*/

#products {
    
    margin: 0 auto;

}

#products>div:first-child {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 90px auto 80px auto;
    margin-left: -14%;
}

.prointroduction {
    display: flex;
 
    margin-left: 2%;
}

.prointroduction div {
    width: 25%;
    height: 100%;
    margin-bottom: 4em;
    margin-left: 8%;
}

.prointroduction img {
    display: table-cell;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    height: 70%;
    margin-left: 5%;

}

#product_list {
    padding-left: 16%;

}


#product_container {
    display: flex;

}

#sidemenu_container {
    margin: 0 auto;

    margin-left: 5%;
}

#sidemenu_container ul {

    list-style: none;
    margin: 0;
    margin-top: 10%;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    position: fixed;


}

#sidemenu_container ul li a {

    display: block;
    height: 40%;
    padding-top: 1em;
    text-decoration: none;
    color: black;

}

#sidemenu_container ul li a:hover {

    border-bottom: 1px solid black;
    color: black;
}

.btn-buy {
    margin-right: 1rem;
    color: white;
    background-color: black;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 12px;

}

.btn-details {
    margin-right: 1rem;
    color: black;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 12px;
}

a.btn-details:hover {
    transition: background-color 0.5s ease-out;
    background-color: black;
    border: 1px solid black;
    color: white;
}

@media screen and (max-width:30em) {
    .nav {
        flex-direction: column;
    }

    .container .block {
        width: 100%;
    }
}

/*login page*/
p.login {
    padding-left: 3em;
}



/*item page*/
.productImg {
    margin-top: 1em;
    margin-left: 30%;
    width: 45%;
    height: 65%;
}


.proInfo {
    display: flex;
     margin: 0 auto;
}


.proInfo>div {
    margin: 10px;
   justify-content: space-between;
    padding: 20px;
    font-size: 30px;
}

#itempageParagraph {
    color: black;
    width: 110%;
    margin-left: -100%;
    margin-bottom: 3em;
    margin-top: 5em;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 1.5px;
 

}



#productImg_contaioner {

    margin: auto;
    margin-top: -7%;
}


/*cart page*/
.cart{
    
    display: flex;
  justify-content: center;


}



.cart > div {
  
   width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 1.5px;
    
}



.cartImg {
    margin:auto;

       margin-top: -15rem;

    width: 50%;
}

.cartP{
  
    color: black;
    width: 50%;
    margin-left: 25%;

    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 1.5px;
    text-align: left;  
    
}

.btn-pay {  
    margin-right: 1rem;
 
    color: black;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;

}

a.btn-pay:hover {
    transition: background-color 0.5s ease-out;
    background-color: black;
    border: 1px solid black;
    color: white;
}


/*check out*/
* {
  box-sizing: border-box;
}

.row {
 
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  justify-content: center;
      font-family: 'Open Sans', sans-serif;
}



.col-50 {
      flex: 50%;
  padding: 0 16px;
}

.container {
width:30%;
  padding: 5px 20px 15px 20px;


}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



.btn {
    background-color: black;
    color:white;

  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
 transition: color 0.5s ease-out;
    background-color: black;

    color: grey;

}



@media (max-width: 700px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 25px;
  }
}











